<div class="card-group">
    <div class="card border border-warning bg-warning pr-3">
        <img class="card-img-top mt-2 ml-2" src="TestAssetts/pints.png" alt="Card image cap">
        <div class="card-block p-2 h-100">
            <h4 class="card-title">Background</h4>
            <p class="card-text">The Halomeme Hypothesis was originally presented as a talk on behalf of Bristol University for the Pint of Science
                festival in 2017. The original transcript can be found
                <a href="#">here</a>
            </p>
        </div>
    </div>
    <div class="card border border-warning bg-warning">
        <div class="card-block p-2 h-100">
            <h4 class="card-title">About</h4>
            <p class="card-text">Memetics is a new science that attempts to understand how Darwinian evoulution impacts the development of human
                beings and their culture. We invite you to participate in some thought experiments that lead to some suprsing
                conlusions about what we are.</p>
        </div>
        <div class="card-block mx-auto">
            <a href="https://pintofscience.com/">
                <img class="card-img-fluid mt-2 ml-2 mb-2" src="TestAssetts/pos.png" alt="pintofscience.com">
            </a>
        </div>
    </div>
</div>