<div class="card group bg-dark">
    <div class="card bg-info mb-3 border border-info">
        <div class="card-body">
            <h4 class="text-warning">How does it make you feel</h4>
            <p class="card-text text-white">
                Are you :-) or :-(
            </p>
            <p class="card-text text-white">
                Does it make you :‑D or :'‑(
            </p>
            <p class="card-text text-white">
                How many ways can we feel about things...
            </p>
        </div>
    </div>

    <div class="card bg-info border border-info">
        <div class="card-body">
            <h4 class="text-success">What are memes like...</h4>
            <p class="card-text">
                Are they 8-) or :-##
            </p>
            <p class="card-text">
                Are they 0:-) or >:-) or just plain
                <:-) </p>
        </div>
    </div>
</div>