<p>
    Not sure if the semantic tag "footer" changes anything particularly. I assume that in an angular single application there
    is no intention of any section of the page - other than the main section - being dynamically populated in response to
    user navigation.</p>

<p> The footer will, in this case always be static under navigation.</p>

<p>I note that the bootstrap the fixed-bottom class casuses the footer to hide the bottom
    of your content unless you use some css margins etc. This seems to defeat the purpose of the
    class. See </p>
    <p>

    https://stackoverflow.com/questions/21933356/sticky-bootstrap-footer-overlaping-content-of-page
</p>
<p>One more of these added below to make sure this and the link above remain visible ;-)</p>
<p>Added to make sure the link above remains visible</p>
